@media only screen and (max-width: 700px){
    
    .header {
        height: 100%;
        margin-top: 120px;
    }

    h1 {
        font-size: 35px;
    }
    
    .header .row {
        flex-direction: column;
    }

    .header .col-1 {
        padding: 20px;
    }

    .header .col-2  {
        margin: 40px auto;
    }
    .header .col-2 img {
        max-width: 90%;
    }

    .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }

    .grid-box{
        padding: 14px;
    }

    .skills{
        height: 100%;
    }

   .portfolio .title .ctn-title {
    flex-direction: column;
    text-align: left;
}

.contact .container{
    padding: 10px;
    padding-bottom: 30px;

}

.contact .container h1{
    font-size: 15px;

}

.contact .quick-links{
    flex-direction: column;
}

.contact .quick-links img{
    width: 50px;
    margin-bottom: 20px;
}

.contact .quick-links ul li{
    margin: 0px 5px;
  
}

.contact .container .fa.fa-envelope-o {
    color: var(--Blue);
    font-size: 30px;
    margin-right: 15px;
    margin-left: 10px;
}

.copyright p {
font-size: 12px;
}
 
.toggle-btn i{
    display: block;
}

.brand img{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
}

.navbar {
    background-color: #e9f9ff;
    height: 100vh;
    flex-direction: column;
    display: none;
}

.nav-list ul {
    flex-direction: column;
}

.nav-list ul li {
    margin-top: 30px;
    text-align: center;
}

.mobile-nav{
    display: flex;
}

} 